################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/obj
/src/bin
*.suo
/.vs/BlazorTmdbApp/DesignTimeBuild/.dtbcache.v2
/src/BlazorTmdbApp.csproj.user
