@import '../Settings/Mixins/_flex';
@import '../Settings/_colors';
@import '../Settings/_layouts';

$header-container-height: 54px;

.wrapper {
    display: flex;
    @include flex-flow(row wrap);
    text-align: center;
}

.wrapper > * {
    @include flex(1 100%);
    padding: 0 10px;
}

.header-container {
    display: flex;
    background-color: $background-dark;
    position: fixed;
    top: 0;
    left: 0;
    height: $header-container-height;
    width: 100vw;
    z-index: 10;
}

.page-container {
    position: relative;
    top: $header-container-height;
}

.footer {
    background: lightgreen;
}

.content {
    max-width: 1300px;
    text-align: left;
}

@media all and (min-width: $screen-width-large) {
    .main {
        @include flex(3 0px);
        order: 2;
    }

    .footer {
        order: 4;
    }
}

body {
    padding: 2em;
}
