@inherits LayoutComponentBase

<div class="wrapper">
    <div class="header-container">
        <NavMenu />
    </div>
    <div class="page-container">
        <div class="content">
            @Body
        </div>
        <footer class="footer">Footer</footer>
    </div>
</div>
