@import '../Settings/Mixins/_flex';
@import '../Settings/_colors';

.nav-container {
    width: 100vw;
    @include flexbox();
    @include justify-content(flex-start);

    ul {
        height: 100%;
        @include flexbox();
        @include flex-flow(row nowrap);
        @include justify-content(flex-start);
        margin: 0 10px;

        .nav-item {
            @include flexbox();
            @include flex-shrink(0);
            background-color: $background-dark;
            color: $font-color-white;
            margin: 20px;
            font-weight: 700;
            align-content: center;

            :hover {
                cursor: default;
                color: $font-color-active;
            }
        }
    }
}
