@using BlazorOmdbTest.Components.SearchBarComponent

    <div class="search-bar">
            <input type="text" tabindex="1" autocorrect="off" autofill="off" autocomplete="off"
                   spellcheck="false" placeholder="Search for a movie, tv show, cast..." @bind="_searchText">
            <button class="search-button" @onclick="PerformSearch">Search</button>
    </div>

@code {

    private string _searchText = string.Empty;

    [Parameter]
    public EventCallback<SearchEventArgs> QuerySubmitted { get; set; }

    private void PerformSearch() {

        QuerySubmitted.InvokeAsync(new SearchEventArgs(_searchText));
    }
}
