@import './Shared/MainLayout';
@import './Shared/NavMenu';
@import './Components/SearchBar/SearchBar';
@import './Components/MovieCard/MovieCard';
@import './Components/MovieBoard/MovieBoard';
@import './Pages/Index';

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;

    :visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }
}